body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    font-family: Arial, sans-serif;
  }
  
  #gameContainer {
    text-align: center;
  }
  
  #gameBoard {
    border: 2px solid #ccc;
    background-color: #333;
  }
  
  #scoreText {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: white;
    margin: 1rem 0; /* Add margin for spacing */
  }
  
  
  #resetBtn {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #resetBtn:hover {
    background-color: #45a049;
  }
  